name: .NET CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore EasyLearn.Api/EasyLearn.Api.sln

      - name: Build
        run: dotnet build EasyLearn.Api/EasyLearn.Api.sln --no-restore

      - name: Test
        run: dotnet test EasyLearn.Api/EasyLearn.Api.sln --no-build